[2014-07-03 18:14] abrudtkuhl opened #1 "Nuget Package"

[2014-07-29 20:25] abrudtkuhl opened #2 "wp.editPost Support"
Edit an existing post of any registered post type.

http://codex.wordpress.org/XML-RPC_WordPress_API/Posts#wp.editPost

[2014-07-29 20:26] abrudtkuhl opened #3 "wp.deletePost Support"
Delete an existing post of any registered post type.

http://codex.wordpress.org/XML-RPC_WordPress_API/Posts#wp.deletePost

[2014-07-29 20:26] abrudtkuhl opened #4 "wp.getPostType Support"
Retrieve a registered post type.

http://codex.wordpress.org/XML-RPC_WordPress_API/Posts#wp.getPostType

[2014-07-29 20:27] abrudtkuhl opened #5 "wp.getPostTypes Support"
Retrieve list of registered post types.

http://codex.wordpress.org/XML-RPC_WordPress_API/Posts#wp.getPostTypes

[2014-07-29 20:27] abrudtkuhl opened #6 "wp.getPostFormats Support"
Retrieve list of post formats.

http://codex.wordpress.org/XML-RPC_WordPress_API/Posts#wp.getPostFormats

[2014-07-29 20:28] abrudtkuhl opened #7 "wp.getPostStatusList Support"
Retrieve list of supported values for post_status field on posts.

http://codex.wordpress.org/XML-RPC_WordPress_API/Posts#wp.getPostStatusList

[2014-07-29 20:29] abrudtkuhl opened #8 "wp.newTerm Support"
Create a new taxonomy term.

http://codex.wordpress.org/XML-RPC_WordPress_API/Taxonomies#wp.newTerm

[2014-07-29 20:29] abrudtkuhl opened #9 "wp.editTerm Support"
Edit an existing taxonomy term.

http://codex.wordpress.org/XML-RPC_WordPress_API/Taxonomies#wp.editTerm

[2014-07-29 20:29] abrudtkuhl opened #10 "wp.deleteTerm Support"
Delete an existing taxonomy term.

http://codex.wordpress.org/XML-RPC_WordPress_API/Taxonomies#wp.deleteTerm

[2014-07-29 20:30] abrudtkuhl opened #11 "wp.uploadFile Support"
Upload a media file.

http://codex.wordpress.org/XML-RPC_WordPress_API/Media#wp.uploadFile

[2014-07-29 20:31] abrudtkuhl opened #12 "wp.newComment Support"
Create a new comment.

http://codex.wordpress.org/XML-RPC_WordPress_API/Comments#wp.newComment

[2014-07-29 20:31] abrudtkuhl opened #13 "wp.editComment Support"
Edit an existing comment.

http://codex.wordpress.org/XML-RPC_WordPress_API/Comments#wp.editComment

[2014-07-29 20:32] abrudtkuhl opened #14 "wp.deleteComment Suport"
Remove an existing comment.

http://codex.wordpress.org/XML-RPC_WordPress_API/Comments#wp.deleteComment

[2014-07-29 20:32] abrudtkuhl opened #15 "wp.getCommentStatusList Support"
Retrieve list of comment statuses.

http://codex.wordpress.org/XML-RPC_WordPress_API/Comments#wp.getCommentStatusList

[2014-07-29 20:33] abrudtkuhl opened #16 "wp.getOptions Support"
Retrieve blog options.

http://codex.wordpress.org/XML-RPC_WordPress_API/Options#wp.getOptions

[2014-07-29 20:33] abrudtkuhl opened #17 "wp.setOptions Support"
Edit blog options.

http://codex.wordpress.org/XML-RPC_WordPress_API/Options#wp.setOptions

[2014-07-29 20:34] abrudtkuhl opened #18 "wp.getUsersBlogs Support"
Retrieve list of blogs for this user.

http://codex.wordpress.org/XML-RPC_WordPress_API/Users#wp.getUsersBlogs

[2014-07-29 20:34] abrudtkuhl opened #19 "wp.getProfile"
Retrieve profile of the requesting user.

http://codex.wordpress.org/XML-RPC_WordPress_API/Users#wp.getProfile

[2014-07-29 20:36] abrudtkuhl opened #20 "wp.editProfile Support"
Edit profile of the requesting user.

http://codex.wordpress.org/XML-RPC_WordPress_API/Users#wp.editProfile

[2014-07-29 20:36] abrudtkuhl opened #21 "wp.getAuthors Support"
Retrieve list of all users.

http://codex.wordpress.org/XML-RPC_WordPress_API/Users#wp.editProfile

[2014-07-29 21:25] #8 closed, assigned to nobody

[2014-07-30 15:40] #10 closed, assigned to nobody

[2014-08-17 14:08] weltmeyer opened #22 "wp.NewPost Terms/Categories returns error 401"
var testTerm= client.GetTerms(...).First();
post.Terms=new []{testTerm};
When creating a new post with NewPost(Post post) it throws an error 401.
It seems like the format of Terms is wrong for new post.

[2014-12-31 14:07] raelyard opened #26 "Invalid Term ID when TermTaxonomyId differs from TermId"
In f12bfc9687ab6a149964c079d89964f138b49c8d, attaching terms to posts was made to work, but with a bug.  The wrong ID was used for sending the desired terms to WordPress.  Instead of using the Id of a term, which represents the term itself, the POST request is using the TermTaxonmyId, which represents the association of the term to a taxonomy.  As a result, I was having problems in some sites but

[2014-12-31 14:09] raelyard opened #27 "Feature Request: Include Featured Image"
I have a need to include a Featured Image in posts I am creating as supported by WordPress.  The XmlRpc interface supports this via the post_thumbnail field.

I am submitting a pull request to address this.

[2014-12-31 15:07] #26 closed, assigned to nobody

[2014-12-31 15:07] #27 closed, assigned to nobody

[2015-01-18 07:03] ChrisCollins8 commented on #11
If your interested I have a working update that adds this.

[2015-01-18 16:01] abrudtkuhl commented on #11
Yes very! Please submit pull request and we will merge it in

On Sun, Jan 18, 2015 at 1:03 AM, ChrisCollins8 <notifications@github.com>
wrote:

[2015-01-22 21:37] Radzhab opened #30 "How publish new post"
I wnat add param bool publish in true. Where i can make it? New posts automatic go to draft

[2015-01-22 21:43] abrudtkuhl commented on #30
You just need to put 'publish' in the status property of the post object. I can send you an example if needed

On Thu, Jan 22, 2015 at 3:37 PM, Radzhab <notifications@github.com> wrote:

[2015-01-22 21:50] Radzhab commented on #30
please send me example)

[2015-01-22 21:57] Radzhab commented on #30
i think all peoples want full example of this lib. I want only one example in this repository)

[2015-01-23 07:46] Radzhab commented on #30
??? what about example

[2015-01-23 14:19] abrudtkuhl commented on #30
Patience young Jedi

On Fri, Jan 23, 2015 at 1:46 AM, Radzhab <notifications@github.com> wrote:

[2015-01-26 19:35] Radzhab commented on #30
OK

[2015-01-26 19:35] abrudtkuhl commented on #30
Blog post coming today

On Mon, Jan 26, 2015 at 1:35 PM, Radzhab <notifications@github.com> wrote:

[2015-01-26 22:14] abrudtkuhl commented on #30
@Radzhab looks like I've had an example on the project page the whole time! http://abrudtkuhl.github.io/WordPressSharp/ But not quite addressing your specific question on adding a status.

Here's a bit more in depth post describing how to publish a new post or page in WordPress. If you have any questions further on publishing a post/page please leave a response there. http://brudtkuhl.com/using-wo

[2015-01-26 22:14] #30 closed

[2015-01-27 19:09] Radzhab commented on #30
its make scheduled type of post.

[2015-01-27 19:13] abrudtkuhl commented on #30
I'm not sure I understand your question

On Tue, Jan 27, 2015 at 1:09 PM, Radzhab <notifications@github.com> wrote:

[2015-01-27 19:25] Radzhab commented on #30
![4ec5930425](https://cloud.githubusercontent.com/assets/2556411/5925275/69a55cda-a673-11e4-8475-2c37f65be8ea.jpg)

[2015-01-27 19:26] Radzhab commented on #30
![de3e287d46](https://cloud.githubusercontent.com/assets/2556411/5925289/854aa832-a673-11e4-9723-86cc82c3b63b.jpg)

[2015-01-27 19:29] abrudtkuhl commented on #30
ahh okay. I wonder if your DateTime.Now where your app is running is
different than the server time where WordPress is running

Andy Brudtkuhl
@abrudtkuhl <http://twitter.com/abrudtkuhl>

On Tue, Jan 27, 2015 at 1:26 PM, Radzhab <notifications@github.com> wrote:

[2015-01-27 19:44] Radzhab commented on #30
thx man!) From Russia with love

[2015-01-28 23:04] emumanu opened #31 "NewPost fails with no Terms"
Hello,

it's nice to see this library is getting better.

However, with the latest version I got a null reference exception when creating a new post without Terms, because post.Terms is null in NewPost

var termTaxes = post.Terms.GroupBy(t => t.Taxonomy);

The same happens in EditPost

[2015-01-28 23:18] emumanu opened #32 "EditPost fails"
Hello,

EditPost fails in WP 4.1:

An unhandled exception of type 'CookComputing.XmlRpc.XmlRpcTypeMismatchException' occurred in CookComputing.XmlRpcV2.dll

Additional information: response contains array value where string expected [response : struct mapped to type Post : member FeaturedImageId mapped to type String]

it seems that Media Item is not implemented. Are there plans for this?

Thanks

[2015-01-29 17:28] abrudtkuhl commented on #31
Thanks @emumanu!

This may have happened in one of the latest pull requests. I will look into it asap but feel free to fix it and submit a pull request!

A goal in the next several months is to add a set of unit tests in the project so we can do regression tests before merging in pull requests.

Thanks!

[2015-01-29 19:49] abrudtkuhl commented on #1
Boom. https://www.nuget.org/packages/WordPressSharp/

[2015-01-29 19:49] #1 closed

[2015-01-29 19:49] abrudtkuhl commented on #32
Yes. I know we have an issue for uploadItem. Thanks will look into this... feel free to fix and submit PR if you dont want to wait! :)

[2015-02-01 20:25] carminexx opened #33 "GetPosts doesn't work"
Hi,
I'm trying to retrieve all posts with the GetPosts function. I'm sure the connection is ok, because I also used newPost and newTerm without problems.
Instead, when I call getPosts, I got this exception:

response contains array value where string expected [response : array mapped to type Post[] : element 0 : struct mapped to type Post : member FeaturedImageId mapped to type String]

I'm passin

[2015-02-04 05:20] abrudtkuhl commented on #33
yea that should be optional. I'll take a look. I think GetPosts was
incomplete will check open issues on progress

Andy Brudtkuhl
@abrudtkuhl <http://twitter.com/abrudtkuhl>

On Sun, Feb 1, 2015 at 2:25 PM, Carmine <notifications@github.com> wrote:

[2015-03-10 00:21] avishnyakov commented on #33
Same same.

GetPosts() is needed to check if post/page was created, so that we will create a new or update existing one. Is there any work around for that?

How can I help to fix this?

[2015-03-30 10:01] KeesCBakker commented on #33
Any news on a fix?

[2015-03-30 10:10] KeesCBakker commented on #33
Removing _FeaturedImageId_ from _Post_ seems to "fix" the error". Something is wrong with the mapping there.

[2015-03-30 13:20] abrudtkuhl commented on #33
Thanks for the pointer! If you can figure out the proper mapping, please
submit the fix via a Pull Request! Otherwise hoping to jump back into this
project this week

Andy Brudtkuhl
@abrudtkuhl <http://twitter.com/abrudtkuhl>

On Mon, Mar 30, 2015 at 5:10 AM, Kees C. Bakker <notifications@github.com>
wrote:

[2015-04-03 14:21] abrudtkuhl commented on #33
Thanks for helping squash these bugs!

[2015-04-03 14:21] #33 closed

[2015-04-03 14:22] abrudtkuhl commented on #32
Closed thanks to @KeesCBakker

[2015-04-03 14:22] #32 closed

[2015-04-19 17:27] tayfunyasar opened #41 "Cant submit newPost without Tags/Taxonomies, ArgNullExcp"
Cant submit newPost with

 Post post = setPost(1, title, content);
      post.CustomFields = getCustomFields();
      using (var client = getWordpressClient())
      {
        return client.NewPost(post);
      }

error: http://a.disquscdn.com/get?url=http%3A%2F%2Fi.hizliresim.com%2FWVJ1oP.png&key=yp1qGdi9DWiFpv5NFagx0A&w=800&h=165

[2015-04-20 23:31] abrudtkuhl commented on #41
@tayfunyasar  can you post a full code snippet on Gist?

See how to (Using WordPressSharp to publish a new post)[http://brudtkuhl.com/using-wordpresssharp-publish-post/]

[2015-04-21 17:23] tekguy commented on #31
@abrudtkuhl @emumanu  I fixed it on the NewPost. I will look into EditPost see pull request 42.

Thanks!

[2015-04-21 23:45] tayfunyasar opened #43 "XmlRpcFaultException in WordPressClient.cs"
WordPressSharpHelper.cs
http://paste.ubuntu.com/10863863/

my postCode

Helper.WordPressSharpHelper.postToWordpress(title, iframe, "603");

error at 185.th line,
\Projects\WordPressSharp\WordPressClient.cs

Exception is:
An unhandled exception of type 'CookComputing.XmlRpc.XmlRpcFaultException' occurred in CookComputing.XmlRpcV2.dll

Additional information: Server returned a fault exception: [401]

[2015-04-22 02:25] abrudtkuhl commented on #43
@tayfunyasar I think that is a [401 HTTP Status Code](http://stackoverflow.com/a/6937030) - which means you are making an unauthorized request. I'd make sure your username and password are being set correctly (and are valid)

[2015-04-22 08:54] tayfunyasar commented on #43
I know the meaning. I can send newPost with JoeBlogs but cant send with WordpressSharp. With same username, url, password..

[2015-04-22 09:09] tayfunyasar opened #44 "How to add thumbnail image into newPost"
I've posted alotof post via testmethod. Now trying to post with thumb image.

I modified the method like this.

public void CreatePost()
    {
      using (var client = CreateDefaultClient())
      {
        string post_thumbnail = "http://pbs.twimg.com/profile_images/xxx/xxx.jpeg";
        var post = new Post
        {
          PostType = "post", // "post" or "page"
          Title = "Test Title

[2015-04-22 13:58] tayfunyasar commented on #44
I've tried also this

 post.CustomFields = new[] {
                new CustomField{
                  Key="_thumbnail_id",
                  Value="603"
                },
                 new CustomField() {
                    Key = "_wp_attached_file",
                    Value = "2015/04/IMG-20150408-WA0000-Copy.jpg"
                }
              };
        post.MediaItems = new[] {

[2015-04-24 08:32] KeesCBakker commented on #44
I'm doing the following:

[code]

[2015-04-24 08:49] tayfunyasar commented on #44
No way.. Thanks @KeesCBakker !

[2015-04-24 13:33] KeesCBakker commented on #43
You might want to debug the XmlRpc by adding a logger to the project. I've did this once like this:

[code]

[2015-04-24 13:41] KeesCBakker commented on #44
Even easier with the new CreateFromUrl method:

[code]

[2015-04-25 14:38] tayfunyasar opened #46 "NewComment into Post"
How to add comments into the post?

I think its not ready for now. Am i right?

[2015-04-25 15:22] nicholaswilson05 commented on #43
I'm trying to debug the XmlRpc as well, like you suggested above, but there's no "AttachLogger" method on WordPressService. Am I missing something? Thanks.

[2015-04-25 15:44] nicholaswilson05 commented on #43
Nevermind - Looks like I had an old version from the Nuget package.

[2015-04-25 15:54] abrudtkuhl commented on #43
Yea nuget pkg needs updated. Will do that today and look into myget to automatically build  the pkg from latest in github

On Sat, Apr 25, 2015 at 10:44 AM, nicholaswilson05
<notifications@github.com> wrote:

[2015-04-25 18:00] KeesCBakker commented on #43
This project is under nuget?

[2015-04-25 18:52] nicholaswilson05 commented on #43
It is, but like we were saying, it's not up to date. I think it was last updated in January of this year.

[2015-04-26 10:12] KeesCBakker commented on #46
I'm looking into it. Might have something for you in a few hours...

[2015-04-26 10:46] KeesCBakker commented on #46
Added it to my own branch and created a pull request. Also added a unit test for it. Seems to work like a charm. So I'll say enjoy @tayfunyasar! The unit test shows how to create a comment.

[2015-04-27 20:58] tayfunyasar commented on #46
Thanks @KeesCBakker

my addComment methods are

public static int addComment(string postId, string content, string author)
    {
      Comment comment = setComment(postId, content, author);
      using (var client = getWordpressClient())
      {
        return client.NewComment(comment);
      }
    }
    public static Comment setComment(string postId, string content, string author)
    {
      re

[2015-04-28 17:58] tayfunyasar commented on #46
Any updates?

[2015-04-30 11:23] tayfunyasar commented on #46
Anything new?

[2015-05-01 08:38] tayfunyasar commented on #46
Still waiting. Thanks

[2015-05-07 17:24] tayfunyasar commented on #46
Its been 11 days. Still waiting answer T_T

[2015-05-07 17:38] abrudtkuhl commented on #46
waiting on what? the pull request has been merged that adds this functionality.

It is a good time to note - this is very much a side project. The fastest way to add functionality is to build it and submit a pull request rather than pinging a comment thread. Otherwise I get back to it about once every two weeks aside from reviewing PR's and merging.

[2015-05-07 17:38] #46 closed

[2015-05-07 17:43] #31 closed

[2015-05-08 06:21] #41 closed

[2015-05-08 06:23] tayfunyasar commented on #46
No abrud. I'm waiting for a clue. I cant add comment with a custom "Name", "Email" and "Website"

[2015-05-09 23:13] #44 closed

[2015-05-09 23:13] #43 closed

[2015-05-16 13:11] tayfunyasar opened #48 "Relation btw Post and Category"
How to set Post's Category?

i cant find categoryId in "Post" class.

Thanks

[2015-05-16 16:08] KeesCBakker commented on #48
You can create a Term of the right type and as it to the Terms. Categories and Tags work through terms.

[2015-05-16 16:09] KeesCBakker commented on #48
* add

[2015-05-19 19:52] tayfunyasar commented on #48
How? Cant figure out

[2015-05-22 05:32] Radzhab opened #49 "How add images to post content?"
How add images to post content?

[2015-05-24 14:32] tayfunyasar commented on #49
i asked this question before you do.
https://github.com/abrudtkuhl/WordPressSharp/issues/44

post.FeaturedImageId = uploadedImageId;

[2015-05-26 19:28] #49 closed

[2015-05-26 19:28] KeesCBakker commented on #49
Closed issue as a duplicate issue.

[2015-05-26 19:36] KeesCBakker commented on #48
I use the following code:

[code]

Hope you'll get somewhere with it.

[2015-05-26 21:23] KeesCBakker commented on #48
Both tags and categories are expressed as terms.

[2015-05-27 18:59] tayfunyasar commented on #48
Thanks! it works.

[2015-05-27 18:59] #48 closed

[2015-05-27 19:20] KeesCBakker commented on #48
Great to hear. Sorry for the late reply. Has been pretty busy lately.

[2015-05-27 19:23] KeesCBakker commented on #46
Any news on this issue?

[2015-05-27 19:37] KeesCBakker commented on #46
Looks like WordPress will use the user that is used in the RPC. Still looking into it through through the forums...

[2015-05-27 19:42] tayfunyasar commented on #46
I'm still curious about this question. Still cant add comments with custom name & mail

[2015-05-27 20:34] KeesCBakker commented on #46
I've added an edit function. But still the user info doesn't get edited. The f

I have no WordPress installation to test this. You might want to add this filter and try without username / password.

[2015-05-28 21:29] tayfunyasar commented on #46
I've edited  my wp-includes/class-wp-xmlrpc-server.php file at line 3207

```$allow_anon = apply_filters('xmlrpc_allow_anonymous_comments', '__return_true');  ```

still writing comments from admin/logged user T_T

my code: https://github.com/abrudtkuhl/WordPressSharp/issues/46#issuecomment-96817665

[2015-05-29 01:30] abrudtkuhl commented on #46
You aren't going to be able to post anonymous comments through the xml-rpc API 

Also - you probably already know but you should never edit core

On Thu, May 28, 2015 at 4:29 PM, Tayfun <notifications@github.com> wrote:

[2015-05-29 04:57] tayfunyasar commented on #46
Really? cant i add annon comments with WordpressSharp? its not possible right?..

I will restore class-wp-xmlrpc-server.php today.

[2015-05-29 07:54] setiri opened #50 "getPost throwing except (ParentId expected to be int)"
Getting this exception:
An unhandled exception of type 'CookComputing.XmlRpc.XmlRpcTypeMismatchException' occurred in CookComputing.XmlRpcV2.dll

Additional information: response contains string value where integer expected [response : struct mapped to type Post : member ParentId mapped to type Int32]

I'm looking in the xml returned and the closest thing to a Parent Id is this:

<member><name>pos

[2015-05-29 08:02] setiri commented on #50
I think this might be fixed in the latest, but it seems nuget version is outdated now

[2015-05-29 13:45] abrudtkuhl commented on #46
It's not a WordPressSharp thing - it's the XML-RPC that we interface with
WordPress. http://codex.wordpress.org/XML-RPC_WordPress_API

Andy Brudtkuhl
@abrudtkuhl <http://twitter.com/abrudtkuhl>

On Thu, May 28, 2015 at 11:57 PM, Tayfun <notifications@github.com> wrote:

[2015-05-29 13:45] abrudtkuhl commented on #50
The nuget version is out of date. Working on getting that automated

Andy Brudtkuhl
@abrudtkuhl <http://twitter.com/abrudtkuhl>

On Fri, May 29, 2015 at 3:02 AM, setiri <notifications@github.com> wrote:

[2015-05-29 15:13] setiri commented on #50
Yes, I figured this out last night. pulled the source and rebuilt it, works fine now.

[2015-05-30 06:10] tayfunyasar commented on #46
I've put the code @KeesCBakker shared into my theme's functions.php at first line. But still cant add annonyms comments.. Can you directly tell me what to do about this? isnt it possible?

[2015-05-30 13:46] abrudtkuhl commented on #46
No sorry it's definitely outside the scope of this library. Why would you want this other than for spamming? You can always insert directly into database

On Sat, May 30, 2015 at 1:10 AM, Tayfun <notifications@github.com> wrote:

[2015-05-31 10:05] KeesCBakker commented on #46
I would like this feature very very much. So I'm not in agreement with @abrudtkuhl. Yet it is something we cannot control, as WordPress has sealed it. Hopefully we'll be able to do this in a future version.

[2015-05-31 10:16] tayfunyasar commented on #46
I've tried to connect my mysql db using c#.net. I asked that to my hosting company, they said "you are in shared hosting, its not allowed." In that case, we need that feature asap :+1: I'm waiting your exciting news about that @KeesCBakker !

BTW thats the only library we can do something in wordpress & got a lof of helper developers. We are The One^^

[2015-06-04 17:41] tayfunyasar commented on #46
is there any updates? :)

[2015-06-04 18:23] abrudtkuhl commented on #46
There's no way to do it with the WordPressSharp library as it's reliant on the xml-rpc API in the WordPress core

The only way to do it is directly accessing the db or writing something in a custom plugin to do the insertions using the WP API. Either way it's not in scope with this project

On Thu, Jun 4, 2015 at 12:41 PM, Tayfun <notifications@github.com> wrote:

[2015-06-07 11:15] tayfunyasar opened #51 "getAllMediaItems"
What is the MediaFilter value to get all medaItems?

[code]

[2015-06-11 18:19] tayfunyasar commented on #51
@abrudtkuhl @KeesCBakker anyone have ideas?

i also tried (new MediaFilter()); ..

[2015-06-26 13:05] Seekeer opened #53 "Method not allowed."
I am trying to execute following code:

[code]

And each time I get following exception:

An unhandled exception of type 'CookComputing.XmlRpc.XmlRpcServerException' occurred in CookComputing.XmlRpcV2.dll
Additional information: Method Not Allowed

What am I doing wrong?

[2015-06-26 16:32] abrudtkuhl commented on #53
I think for wordpress.com sites you need to add /xmlrpc.php to your base url

On Fri, Jun 26, 2015 at 8:05 AM, Seekeer <notifications@github.com> wrote:

[2015-06-27 12:23] tayfunyasar commented on #51
Any updates?

[2015-06-27 12:24] tayfunyasar commented on #53
You cant use xmlrpc api in wordpress.com subdomains. you need host.

[2015-06-27 12:49] Seekeer commented on #53
Ok, thanks for info. Are there any way to get free wordpress blog to test XMLRPC API?

[2015-06-27 13:32] abrudtkuhl commented on #53
Run WP locally

On Sat, Jun 27, 2015 at 7:49 AM, Seekeer <notifications@github.com> wrote:

[2015-06-30 08:35] tayfunyasar commented on #51
@abrudtkuhl  @KeesCBakker @tekguy its been 24 days. any ideas?

[2015-06-30 14:09] abrudtkuhl commented on #51
There isn't a filter to get all Media Items. Might need another method for that

[2015-07-04 18:40] tayfunyasar commented on #51
I cant find that "another method" u called ^_^

i tried also that,

[code]

[2015-07-04 18:41] abrudtkuhl commented on #51
You'll have to actually develop the "other method"

On Sat, Jul 4, 2015 at 1:40 PM, Tayfun <notifications@github.com> wrote:

[2015-07-04 19:01] tayfunyasar commented on #51
where is "like" button :/ :+1:

[2015-07-04 19:02] abrudtkuhl commented on #51
:-)

On Sat, Jul 4, 2015 at 2:01 PM, Tayfun <notifications@github.com> wrote:

[2015-07-20 07:28] Radzhab opened #55 "How use it with custom fields?"
I have several custom fields in wp. How use it with it?

[2015-08-22 23:23] Joe118 commented on #53
I don't think this is correct, I was able to connect to dojotest1.wordpress.com with the POSSIBLE WP API client, but WordPressSharp causes an exception... I experienced the exception with NewPost and GetPosts in WordPressSharp but not with POSSIBLE. Of course I'd rather use WordPressSharp because it is more updated and complete.

[2015-08-22 23:45] Joe118 commented on #53
I also hit this and the problem is present in POSSIBLE XmlRpc as well as in WordPressSharp. So it does seem to be a limitation of wordpress.com :(

[2015-09-25 08:02] nathanchere commented on #50
Any chance the nuget version might be updated in the foreseeable future?

[2015-09-25 19:54] abrudtkuhl commented on #50
yes i will try to run a build over the weekend and deploy it. thanks

Andy Brudtkuhl
@abrudtkuhl <http://twitter.com/abrudtkuhl>

On Fri, Sep 25, 2015 at 3:02 AM, nathanchere <notifications@github.com>
wrote:

[2016-03-12 12:08] alldjay commented on #22
t[0] = client.GetTerm("category",4); // 4 is an existing category that was already being used...

It work for me, but how to set several existing categories in post?
Example please...
Thanks.

[2016-04-10 16:31] mostafa901 commented on #53
it is not working for me as well. :( ... any idea to resolve this?

`  WordPressSharp.WordPressSiteConfig wpcon = new WordPressSharp.WordPressSiteConfig();
            wpcon.Username = "myuser";
            wpcon.Password = "mypass";
            wpcon.BaseUrl = "http://moustafakh.wordpress.com/";
            wpcon.BlogId = 1;

            WordPressSharp.WordPressClient wpc = new WordPressSharp.Wor

[2016-06-05 10:14] Radzhab opened #57 "XmlRpcStruct key must be a string when add categories to post"
I have this code

[code]

When i run it its return error
**XmlRpcStruct key must be a string.**

What i make wrong?

[2016-06-05 10:35] Radzhab opened #58 "response contains integer value where string expected [response : array mapped to type Category[]"
When i try receive categories i get this error

[code]

[2016-06-24 12:16] cenaav commented on #48
Sorry! would you help me? i can't post with terms.

[code]

but an error happen.

401
taxonomy in terms or terms_names is not supported by this post type.

any suggestion ?

[2016-07-19 19:12] setiri opened #59 "Post.PublishDateTime should convert to UTC"
I think wordpress actually broke this at some point, but for now if you set DateTime.Now to the PublishDateTime, the website will take the localized version of the time and assume it it UTC  - thus shifting the publish date by the amount of offset your local timezone has.

This lib can likely work around this by just changing any assigned datetime to the URC version of itself. It's not optimal, bu

[2016-09-13 17:16] JM63 opened #60 "UploadFile "Not Found" error"
I'm trying to upload same pictures to wordpres media library with this code , but i always get the error "Not Found". I have try replace WordPressSiteConfig Baseurl with the IP, but then i get error "Forbidden".
I have checked the media library folder permissions (0755 to 0777) but the problem remains.
What am I doing wrong?

WordPressSiteConfig _wpConfig = new WordPressSiteConfig();
 _wpConfig.Ba

[2016-10-26 16:56] lszomoru commented on #50
Any update on publishing and updated package to Nuget? Thanks!

[2016-11-21 03:07] guillogc opened #61 "Get File Link"
Is there a way, having the post Id number of the uploaded image, to get the direct link to that image instead of the link for the post?

Thank you!!

[2016-11-21 03:12] guillogc commented on #61
I found the solution myself.

It was using GetMediaItem instead of GetPost.

:)

[2016-11-21 03:12] #61 closed

[2016-11-21 03:16] abrudtkuhl commented on #61
Was it an issue with code? Can you submit the fix via Pull Request?

On Sun, Nov 20, 2016 at 9:12 PM, guillogc <notifications@github.com> wrote:

[2016-11-21 03:17] guillogc commented on #61
No no, no issue with the code. It was my issue. Thank you!!

[2016-11-21 03:18] abrudtkuhl commented on #61
Excellent!

On Sun, Nov 20, 2016 at 9:17 PM, guillogc <notifications@github.com> wrote:

[2016-12-18 12:20] klacol opened #63 "Username cannot contain a dot (.)"
Nice project here, thank you!

I have found, that a username can not contain a dot (.)

Could be an issue of the c# wrapper or of the API.

[2016-12-19 18:02] abrudtkuhl commented on #63
Dots in usernames are not allowed in WordPress so the problem lies there. You can override that if you need.

[2016-12-19 18:02] #63 closed

[2016-12-19 19:31] klacol commented on #63
ah, ok. In fact I can put in a dot into the username in the WP UI. This would be a bug there then. Thanks.

[2016-12-19 19:55] abrudtkuhl commented on #63
I dont know that it's a bug in as much as it's a feature. There are a few
trac comments about it and I think it's there by design for security but
can be overridden via hook in a plugin if needed.

Andy Brudtkuhl
youmetandy.com

On Mon, Dec 19, 2016 at 1:31 PM, Klaus Aengenvoort <notifications@github.com

[2017-01-20 22:27] XHyperY commented on #60
do you still need help or did you fix it?

[2017-01-22 00:42] guillogc opened #65 "DTD is prohibited in this XML document."
ON some WP servers I get this exception when triying to post.

Instead of getting the Post ID, this exception is thrown.

The message says "Response contains invalid XML"

Can anyone help me?

Thank you!!

[2017-02-06 10:38] miguelangelss4 commented on #55
Same problem, I have a post with several custom fields but when I call NewPost function this custom fields don't appear as postmeta rows.

[2017-02-06 10:43] miguelangelss4 opened #66 "Custom Fields are not saved"
I'm having trouble with custom fields.

I have a new post with several values in customfields list, and I call NewPost function. The post is stored at database, but custom fields are not stored at postmeta table...

![image](https://cloud.githubusercontent.com/assets/15887424/22644036/44794a8a-ec61-11e6-8c22-cd382d290506.png)

[2017-02-07 15:20] dmarklein commented on #66
I'm seeing the same thing. I'm trying to set the template for a page by setting the _wp_page_template meta field, but it's not making it into the database.

[2017-02-08 15:47] miguelangelss4 commented on #66
I want to add a CustomField to de customfields list, only to test that the problem is not a value with wrong serialization. I tried this:
NuevoPopup.CustomFields.ToList().Add(New WordPressSharp.Models.CustomField With {.Key = "msolla_prueba", .Value = "test"})

But it don't add anything. Can I add a customfield? how?

[2017-02-27 11:42] miguelangelss4 commented on #66
Is there any updates here?

[2017-02-28 19:04] abrudtkuhl commented on #66
I will take a look this week. Planning some time to address a couple issues

[2017-02-28 19:54] miguelangelss4 commented on #66
Thanks you so much Andy, I wait for news.

[2017-03-04 23:51] DUAB-Johan commented on #66
@dmarklein
Wordpress does not allow changes to database-columns preceding with _ by default.
You have to add them to functions.php to allow the update:

function register_meta() {
    register_meta( 'post', '_description', '_meta_sanitize_cb', '_meta_yes_you_can');
}
add_action( 'init', 'register_meta' );

[2017-03-16 08:28] miguelangelss4 commented on #66
@DUAB-Johan hi
I'm seeing in [documentation](https://codex.wordpress.org/Function_Reference/register_meta) that this function (register_meta) only allow 3 parameters, and you had posted 4.

What are the values that you pass to register_meta?
- The first one is clear that is the post_type
- Second one, I think is the meta key
- The 3 and 4, I don't know what are.

Anyway, my meta_key is popup_condi

[2017-03-31 04:47] hojjat206 opened #67 "The underlying connection was closed"
I'm receiving this error after 100 Posts:

The underlying connection was closed : A connection that was expected to be kept alive was closed by the server.

How do I fix؟

[2017-03-31 13:58] abrudtkuhl commented on #67
im guessing your server is timing out

Andy Brudtkuhl
youmetandy.com

On Thu, Mar 30, 2017 at 11:47 PM, hojat shafiee <notifications@github.com>
wrote:

[2017-04-07 05:35] sreedharloo commented on #57
Hi @Radzhab
I too had the same issue. nothing wrong in the above code.
There is a change required in Category.cs class under Models directory.
You just need to declare Id and ParentId as 'int' (not string). After this change my code is working.

`public class Category
    {
        [XmlRpcMember("categoryId")]
        public int Id { get; set; }

        [XmlRpcMember("parentId")]
        public i

[2017-04-07 14:22] abrudtkuhl commented on #57
@Sreedhar can you submit a Pull Request with this fix?

Andy Brudtkuhl
youmetandy.com

On Fri, Apr 7, 2017 at 12:35 AM, Sreedhar <notifications@github.com> wrote:

[2017-04-09 09:33] marconii2002 opened #68 "How to add tags to post ?"
I have this code

            Term t = new Term
            {
                Taxonomy = "post_tag",
                Name = "test tag"
            };

            Post post = new Post
            {
                Id = postID,
                PostType = "post",
                PublishDateTime = postdate,
                Content = content,
                Terms = new Term[] { t }
            };

[2017-04-27 10:57] miguelangelss4 commented on #66
@abrudtkuhl, can you saw this issue? thanks!

[2017-05-24 11:57] obie73 commented on #68
I have the same issue, any solution?

[2017-07-18 18:56] lironsher commented on #68
I have the same issue, any solution?

[2017-07-29 02:38] thakkerjeet commented on #67
I am also getting same error. It is running well from my test application. But gives error when i do it from my actual application.
How to fix it? Please help!

[2017-08-11 21:22] abrudtkuhl commented on #68
Hello @marconii2002 @obie73  @lironsher

This is not a bug. It's an unfortunate problem stemming from how the WP XML-RPC API handles terms. The term must already exist and its ID is required in the Term object in the Terms array when creating a new post. In your example, you have to create the term first and the term_id is required.

Example

        Term t = new Term
        {
            Taxonom

[2017-08-11 21:27] abrudtkuhl commented on #68
Also - there is no way to search for terms by name via the API to check if they already exist so often times we have some messy code. For instance, you might want to use a tag that already exists. Here's a (ugly) snippet of code that will check to see if the tag already exists and grab the Id otherwise it will create one. Then it will add it to the post.

[code]

[2017-08-11 21:27] #68 closed

[2017-08-11 22:00] abrudtkuhl commented on #66
I believe this was fixed with #64

[2017-08-11 22:00] #66 closed

[2017-08-11 22:01] abrudtkuhl commented on #65
@guillogc can you provide more information about the data you are trying to post?

[2017-08-11 22:01] abrudtkuhl commented on #60
@XHyperY believe this is fixed with #64

[2017-08-11 22:01] #60 closed

[2017-08-11 22:02] #59 closed

[2017-08-11 22:02] abrudtkuhl commented on #58
@Radzhab what error?

[2017-08-11 22:09] abrudtkuhl commented on #58
GetCategories has been deprecated in the WP XML-RPC api. You'll want to use GetTerms()

[2017-08-11 22:09] #58 closed

[2017-08-11 22:13] abrudtkuhl commented on #58
FWIW I've removed this deprecated function from the library

[2017-08-11 22:15] abrudtkuhl commented on #57
FYI the GetCategories functionality has been removed from the library as the wp.getCategories method it was mapped to has been deprecated. The proper avenue is to use GetTerms()

https://codex.wordpress.org/XML-RPC_WordPress_API

[2017-08-11 22:15] #57 closed

[2017-08-11 22:16] abrudtkuhl commented on #55
@Radzhab @miguelangelss4 this should be fixed in latest version from #64

[2017-08-11 22:16] #55 closed

[2017-08-11 22:16] #53 closed

[2017-08-11 22:18] abrudtkuhl commented on #22
See how it works here https://github.com/abrudtkuhl/WordPressSharp/issues/68#issuecomment-321923121

[2017-08-11 22:18] #22 closed

[2017-08-12 02:36] #51 closed

[2017-08-12 02:36] abrudtkuhl commented on #50
FYI @lszomoru  the nuget package is updated https://www.nuget.org/packages/WordPressSharp/

[2017-08-12 02:36] #50 closed

[2017-08-12 02:37] #2 closed

[2017-08-12 02:37] #3 closed

[2017-08-12 02:37] #4 closed

[2017-08-12 02:37] #5 closed

[2017-08-12 02:37] #6 closed

[2017-08-12 02:37] #7 closed

[2017-08-12 02:37] #9 closed

[2017-08-12 02:37] #11 closed

[2017-08-12 02:37] #12 closed

[2017-08-12 02:37] #13 closed

[2017-08-12 02:37] #14 closed

[2017-08-12 02:37] #15 closed

[2017-08-12 02:37] #16 closed

[2017-08-12 02:37] #17 closed

[2017-08-12 02:37] #18 closed

[2017-08-12 02:37] #19 closed

[2017-08-12 02:37] #20 closed

[2017-08-12 02:37] #21 closed

[2017-08-15 18:33] simonhaga opened #69 "Support for asynchronous requests"
It would be really beneficial to have an option for asynchronous requests. I'm building a wpf application and on start-up I need to fetch categories and media items to fill the comboboxes with such information which delays the start-up by a number of seconds. Sure, Task is always an option, but it would be neat to have it built-in in the library to keep the code tidy.

[2017-08-20 07:39] 1428245421 commented on #48
`  var client = new WordPressClient(new WordPressSiteConfig
            {
                BaseUrl = "http://localhost/wordpress",
                Username = "123456",
                Password = "123456",
                BlogId = 1
            });
            var post = new Post
            {
                Title = "hello world",
                PostType = "post",
                PublishDateTime =

[2017-08-22 16:06] abrudtkuhl commented on #69
The XML-RPC.NET dependency used has support for async calls on proxy classes. I'd be interested in looking over a pull request adding async methods

http://xml-rpc.net/faq/xmlrpcnetfaq-3-0-0.html#2.8

[2017-08-22 16:09] abrudtkuhl commented on #48
@1428245421 https://github.com/abrudtkuhl/WordPressSharp/issues/48#issuecomment-105643517

[2017-08-28 08:29] Bogdan-nt opened #71 "GetPosts method issue"
The GetPosts(PostFilter filter) returns a list with maximum 5 elements, counted from 0 to 4.
I guess that method needs to return all "pages" or "posts" not only 5.
Note: I use the WordPressSharp nuget package  version 1.1.0

This is my first issue report, sorry if I misunderstood something.
Looking forward for your response. Thanks!

[2017-08-28 09:53] Bogdan-nt commented on #71
Sorry, I omitted to set the Number value of PostFilter class. I didn't know it's necessarily
Sorry for that.

[2017-08-28 09:53] #71 closed, assigned to nobody

[2017-09-01 05:47] Vicksjsr commented on #68
Hi Andy,

The above code throws an error at line

var terms = client.GetTerms("post_tag", new TermFilter() { Search = t.Name }); // get term names from API searching for the one we want

CookComputing.XmlRpcV2 exception Message: {"Not Found"}

[2017-10-10 15:35] #69 closed

[2017-10-10 15:36] abrudtkuhl commented on #65
ping @guillogc

[2017-10-22 05:21] divyansheccentric opened #72 "Can't upload featured image, when using WordPressSharp in VB.NET"
Hi, I am developing a wordpress client for my blog. But I cant upload featured image to my post. The code works fine in C#. But shows an error in VB.NET
I am attaching a screenshot of error below.

![untitled](https://user-images.githubusercontent.com/32994707/31858508-f3aacbb6-b716-11e7-828d-e5d215530e21.png)

[2017-10-22 13:59] divyansheccentric commented on #72
Anybody can reply a fix?

[2017-10-22 15:19] abrudtkuhl commented on #72
Not sure on VB.Net, sorry!

Andy Brudtkuhl
https://youmetandy.com
________________________________
From: Divyansh <notifications@github.com>
Sent: Sunday, October 22, 2017 8:59:29 AM
To: abrudtkuhl/WordPressSharp
Cc: Subscribed
Subject: Re: [abrudtkuhl/WordPressSharp] Can't upload featured image, when using WordPressSharp in VB.NET (#72)

Anybody can reply a fix?

—
You are receiving this because

[2017-10-22 18:57] divyansheccentric commented on #72
I figured out a solution, actually vb.net is not a case sensitive language so Id and id is same for vb.net that's why it gets confused while executing that part of code. We need to change Id to something else like IDDD etc.
Can you do this for me? Because you know your code better @abrudtkuhl

[2017-10-22 19:44] abrudtkuhl commented on #72
I'm not sure what difference that would make for VB. You are free to change the library code locally if you need but I won't be changing it in the package. Thanks
________________________________
From: Divyansh <notifications@github.com>
Sent: Sunday, October 22, 2017 1:57:56 PM
To: abrudtkuhl/WordPressSharp
Cc: Andy Brudtkuhl; Mention
Subject: Re: [abrudtkuhl/WordPressSharp] Can't upload featured

[2017-10-22 19:47] #72 closed, assigned to nobody

[2017-12-06 05:44] sonnd9x opened #73 "Request add custom post slug, Edit term function"
Please add functions: Custom post slug, edit term

Thanks !

[2017-12-27 01:38] vnlinkorg opened #74 "CookComputing.XmlRpc.XmlRpcInvalidXmlRpcException: Response XML not valid XML-RPC – root element not methodResponse."
I’ve tried to use GetPosts()

public List GetPosts(int PageNumber)
{
using (var client = CreateWordPressClient())
{
var result = client.GetPosts(new PostFilter { PostType = “post”, PostStatus = “publish”, Number = PageNumber }).OrderByDescending(a => a.Id).ToList();
return result;
}
}

and:

dgvwPost.DataSource = myWordPressAPI.GetPosts(NumberPostView);

Please help me!

[2018-01-11 12:09] manii-stack commented on #44
its work for me
[code]

it gets me this error!
`Error	CS1061	'XDocument' does not contain a definition for 'CreateFromUrl' and no extension method 'CreateFromUrl' accepting a first argument of type 'XDocument' could be found (are you missing a using directive or an assembly reference?)`
Could you help me how can I fix it?

[2018-01-11 14:25] manii-stack opened #75 "How to associate a category to a post WordPress?"
Hello Guys
For adding new category I used this guid
@KeesCBakker
@1428245421 #48 (comment)

How about when I want to associate several categories to a post?(I created all categories in WordPress)
for instance
main category>sub1>sub 2

[2018-01-28 18:38] zea89 opened #76 "asign multiple attachment to a post"
can i attach multiple images to a post usign this method?

public UploadResult UploadFile(Data upload)
        {
            return WordPressService.UploadFile(**WordPressSiteConfig.**BlogId****, WordPressSiteConfig.Username, WordPressSiteConfig.Password, upload);
        }

[2018-02-13 10:22] Blackcat156 commented on #75
I have the same problem, and you can create an array
create Term
   Term[] term_cat = new Term[1];

term_cat [0]= client.GetTerm("category", “your category Id”);
/*If you have multiple categories, repeat the above steps into the array
*/

   var post = new Post
            {
                PostType = "post",
                Title = content_doc[0],
                FeaturedImageId = Cat_up.Id,

[2018-02-13 10:25] Blackcat156 commented on #76
Hello, I know this.
Before you call client.NewPost (post), all uploads will be classified as this article.
As long as you keep the same client

[2018-02-13 10:29] Blackcat156 opened #77 "How to get all the photo attachments in an article"
I want to get all the photo attachments in a published post.
https://codex.wordpress.org/XML-RPC_WordPress_API
The wp.uploadFile provided by WordPress can't be found in the API
How can I get a ID to get all the pictures in the published article
post.MediaItems   It's always null
I want to get the picture ID, thank you!

[2018-02-13 11:08] Blackcat156 commented on #77
var client = new WordPressClient(StaticValue.LocalUser);
            Post GetPost = client.GetPost(Convert.ToInt32(text));
            Console.WriteLine(GetPost.Content);

            Console.WriteLine(GetPost.MediaItems==null);
           //Output true

![default](https://user-images.githubusercontent.com/34151464/36146939-41a40484-10f1-11e8-8d7b-432bf391f2dd.png)
I have uploaded the picture

[2018-02-13 23:09] manii-stack commented on #75
thanks for your replay.
I did it and its work fine. but my program speed became so slowly!

[2018-02-13 23:52] Blackcat156 commented on #75
You can initialize a static variable.
Because the classification is rarely changed, I initialize the classification at the start of the release and keep it all the time.

[2018-02-14 02:28] Blackcat156 commented on #76
`<?php
/**
 @package Cat
 */
$postID = get_the_ID();
function echo_first_image ($postID)
{
	$args = array(
	'order'=> 'ASC',
	'post_mime_type' => 'image',
	'post_parent' => $postID,
	'post_status' => null,
	'post_type' => 'attachment'
	);

	$attachments = get_children( $args );
	if ($attachments) {
		foreach($attachments as $attachment) {

			echo '<div class="imgId">'.( $attachment->ID ).'</div>

[2018-02-14 02:30] Blackcat156 commented on #77
Hello, I can't solve the problem.
So I use WordPress to output all the ID in the picture and then delete them.
I hope to help people who have the same problems with me.
You need to put this code anywhere in your WordPress theme output article.
He will output all the attachments that are uploaded to this article, ID.

`<?php
/**
 * @package Cat
 */
$postID = get_the_ID();

function echo_first_image

[2018-02-28 07:16] nlee39 opened #78 "GetOptions return value is incorrect"
I'm using Wordpress 4.9.4.

When I use the GetOptions() method, I get this error:

`response contains array value where struct expected [response]`

GetOptions() is currently set to return XmlRpcStruct. The Wordpress source code shows that it will return an array (or IXR_Error)

[2018-02-28 07:33] nlee39 commented on #78
I'll close this for now and investigate it further before re-opening it

[2018-02-28 07:33] #78 closed, assigned to nobody

[2018-03-12 02:40] marcesepu opened #79 "PostFilter by CustomField"
Hi Guys,

I wanna retrieve custom post type records by a custom field, someone know how do it?

tks in advance

[2018-03-12 07:26] Blackcat156 commented on #79
/// reader CustomFields
        /// </summary>
        /// <param name="PostId"></param>
        internal static void ModifyCustomFields(String PostId)
        {
            var client = new WordPressClient(StaticValue.LocalUser);
            Post GetPost = client.GetPost(Convert.ToInt32(PostId));
            CustomField[] customField = GetPost.CustomFields;

            if (customField != null)

[2018-03-12 13:34] marcesepu commented on #79
Thanks Blackcat156,
I need retrive post using PostFilter by a custom field, Is it posible?

[2018-03-15 18:57] hiromi3 opened #80 "Strange time stamp problem"
Hello,
I am using WordPressSharp with VS2017 on Windows10.
When I posted a new post with the following settings,
   post.PublishDateTime = DateTime.Now;
   post.Status = "publish";

I could successfully post.
However, I found a problem.

The Date/Time of the post is 9 hours future in edit window of the post.
But, the Date/Time of the post is 1 minutes before in posts list window.(Good)

My local t

[2018-03-16 11:57] Blackcat156 commented on #77
https://www.xxxxxx.com/wp-json/wp/v2/media/21370
I found that the appendix ID can be obtained through wp-json, which is automatically opened

[2018-03-16 12:03] Blackcat156 commented on #80
Hello, I got the problem by adjusting the time setting of WordPress.
![default](https://user-images.githubusercontent.com/34151464/37519600-aa3eef24-2954-11e8-9c48-794644fa8754.png)

I use GetPost () in a different time; I won't make a mistake.
If you don't want to adjust the time of WordPress, you can choose

Now these two methods are enough to solve the problem, and if there is a better way to t

[2018-03-16 13:09] hiromi3 commented on #80
Thank you for your reply.
I know the WordPress Timezone setting menu in your captured image and I am setting it UTC+9 .
I could subtract nine hours by your suggested AddHours() method.

But, my simple question is why these time stamps have different values.

When I post WordPress content manually without using C#,
these time stamps are exactly  same value.

Have you ever experienced a time stamp p

[2018-04-19 06:02] mpevreuls opened #81 "xmlrpc call not working from IIS"
Hi,

I am using WordPressSharp in my project. From my laptop running IIS Express or within visual studio it is all working fine. After deploying the application to our IIS webserver it fails.

I get an "Not Found" message on the newpost
WordPress Source :CookComputing.XmlRpc.XmlRpcServerException: Not Found bij CookComputing.XmlRpc.XmlRpcClientProtocol.ReadResponse(XmlRpcRequest req, WebResponse w

[2018-04-19 14:42] abrudtkuhl commented on #81
Do you have the config setup properly pointing at reachable WordPress site?

Andy Brudtkuhl
youmetandy.com

On Thu, Apr 19, 2018 at 1:02 AM, mpevreuls <notifications@github.com> wrote:

[2018-04-20 19:59] ghost opened #82 "GetPosts filter by custom field"
Hi all,
I want to get posts that have a custom field, does anyone know how I could perform this filter?

[2018-04-21 18:57] mpevreuls commented on #81
hi, yes. settings are exactly the same. Only difference is running my laptop is windows 10 en the IIS server is windows 2012 rc2.

[2018-06-12 10:03] manii-stack opened #83 "How to fill a ACF repeater field by WordPressSharp in C#?"
I can send data and fill simple custom fields. But it does not work with ACF repeater fields. It does not get value at all.

[code]
Is it possible to work with repeater fields by WordPressSharp ?!

[2018-06-12 10:04] #75 closed, assigned to nobody

[2018-06-23 03:22] binhphanduc commented on #67
I think we need to add more details for WebClient.
`webrequest.KeepAlive = true;
webrequest.Method = "GET";
webrequest.ContentType = "text/html";
webrequest.Accept = "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8";
//webrequest.Connection = "keep-alive";
webrequest.Host = "cat.sabresonicweb.com";
webrequest.Headers.Add("Accept-Language", "en-US,en;q=0.5");
webrequest.UserAgent =

[2018-06-26 13:17] Nefastor opened #85 "UploadFile : worked a couple of times, and now doesn't"
Hi,

I'm attempting to upload images to a WordPress install using the WordPressClient.UploadFile method. The code I use is very straightforward and it worked a couple of time, resulting in proper entries in the site's media library. Then I went out for lunch, tried to upload more files, and it didn't work. I tried to upload the first file again, it didn't work either.

I put a breakpoint at the Up

[2018-06-26 13:27] Nefastor commented on #85
Here's the code I'm using :

[code]

[2018-06-26 14:40] abrudtkuhl commented on #85
Try grabbing the latest source from Github I think that's been fixed and
the nuget package has not been updated to the latest

Andy Brudtkuhl
youmetandy.com

On Tue, Jun 26, 2018 at 8:27 AM, Nefastor <notifications@github.com> wrote:

[2018-06-26 15:28] Nefastor commented on #85
Thank you for the tip, Andy. I'll try that and get back to you. For information, I've been able to update a few files without changing my code, and then it started misbehaving again. I'm wondering if it may have something to do with my server. If updating the code won't work I'll contact my hosting provider.

[2018-06-26 15:44] Nefastor commented on #85
So I did what you suggest, and there's no difference. Just to be sure I got it right : I cloned the repo, opened the solution in Visual Studio, rebuilt it, grabbed the DLL from the output folder and copied it to the packages\WordPressSharp.1.1.0\lib\net45 in my own project, then rebuilt that. Did I miss a step ?

[2018-06-26 17:45] Nefastor commented on #85
Progress update : I've tried my code on a second PC that uses a different internet connection, and I got the same result. It's quite deterministic really : it stops working after I send 5 files in rapid succession. Those are PNG's between 2 and 5 KB so I don't think the size is the issue, rather I think the people who host my site might have some sort of "hacker protection" that detects those rapi

[2018-06-26 20:24] abrudtkuhl commented on #85
Very much sounds like your host is blocking it based on those patterns

Andy Brudtkuhl
youmetandy.com

On Tue, Jun 26, 2018 at 12:45 PM, Nefastor <notifications@github.com> wrote:

[2018-06-27 17:51] Nefastor commented on #85
Hello Andy,

So yeah, the problem was my host. Their security software identified the XML-RPC file uploads as attacks designed to exploit CVE-2013-0235, a WordPress vulnerability. The details are at :

https://www.cvedetails.com/cve/CVE-2013-0235/

I think we can close the issue, but maybe it's worth mentioning somewhere that this is a scenario that can happen with some hosts.

Anyway, thanks for

[2018-07-07 16:33] GlennIM opened #86 "Post to a Specific Category?"
How can I make a blog post to a specific category?

Does any one have a code example I can use?

Thanks - Glenn

[2018-07-07 18:00] GlennIM commented on #86
I have a working example that was in one of the other posts here. But I need to know how I can get a list of category names/IDs from the client so I can post to the category of my choosing. Can I get a code snippet on doing that, please?

Thanks

[2018-07-08 16:19] GlennIM opened #87 "How Can I Get the Post Name for Link ?"
I need it to return the Post Name permalink format not the Plain format. How can I convert this to the Post name format ?

I checked the blog I created a post on and the Pernalink settings are set to "Post Name".

string postID = client.NewPost(post);
Post thepost = client.GetPost(Convert.ToInt32(postID)); // returns "http://mysite.com/?p=6175"

[2018-07-17 04:43] alikianinejad opened #88 "save post with featureImage not working"
i am trying to save new post with thumbnail in wordpress database with following code
[code]
and after that with checking database i see the new post and attachment and file upload successfully in wp-content/uploads but in attachment record parent_post set to 0 instead of new post id and thumbnail field is empty in wordpress how can i fix that i check blow links
[How to add thumbnail image into ne

[2018-07-22 03:39] GeHertz opened #89 "Is it possible to change the FullUrl?"
I can't connect to my blog using '/xmlrpc.php', it seems like my host block the access. And i saw the FullUrl automatically add '/xmlrpc.php' at the end of BaseUrl. Is it possible to change 'xmlrpc.php' into something else?

[2018-07-22 04:27] GeHertz commented on #89
fix this by using WordpressService.Url
`WordPressClient session = new WordPressClient(config(UID));
session.WordPressService.Url = config(UID).BaseUrl + "/xrp.php";`

[2018-07-22 04:27] #89 closed, assigned to nobody

[2018-07-22 04:45] GeHertz commented on #74
Got the same problem, but not only with GetPosts(), i also got this exception when using GetUsers().
And this exception occurs only when another running thread using HttpWebRequest

[2018-07-27 03:37] Blackcat156 commented on #88
Please use the same post send request to complete the upload process。
For example  CreateFromUrl(Post post,stirng ImgUrl)

[2018-07-27 03:53] Blackcat156 commented on #86
Get the category ID：
![tim 20180727114427](https://user-images.githubusercontent.com/34151464/43300566-865303b0-9192-11e8-8442-f1f74d47b723.jpg)
click “Edit” ，look at the url

Category is  "tag_ID=" Back number，such as ：1

        /// 发布到指定分类
        /// </summary>
        /// <param name="post"></param>
        /// <param name="category"></param>
        /// <param name="localUserInfo"></param>

[2018-07-27 03:54] Blackcat156 commented on #86
public struct UserInfo
        {
            private string userName;
            private string password;
            private string indexurl;

            public string UserName { get => userName; set => userName = value; }
            public string Password { get => password; set => password = value; }
            public string Indexurl { get => indexurl; set => indexurl = value; }
        }

[2018-07-27 03:57] Blackcat156 commented on #74
I also encountered this problem, but this problem will happen only when the server starts up for the first time using XMLRPC.

[2018-08-01 00:56] hbcondo opened #90 "How to create new users?"
Is the ability to create new users available in WordPressSharp? When creating a post, the `Author` property has to be populated with the user id of an existing user.

[2018-08-09 08:06] ghost commented on #87
Did you create your post in draft mode?

[2018-08-09 08:23] ghost opened #91 "Is the usage of proxies supported?"
Hi,

I am trying to switch my actual WordPress Client to WordPressSharp but i need proxy support.

xml-rpc.net supports proxies. In the examples I haven't found a way to use proxies for now.

Thanks!

[2018-08-09 13:29] GlennIM commented on #87
Yes... creating in "Draft Mode"

If I create it in Publish mode, will it return the post name format?

Also, before I publish a post, can you tell me how to check to see if it already exists already? I don't want to post duplicate content. **Can you show me a code  snippet I would use to check for an existing post?**

Thanks Again,
Glenn

[2018-08-09 15:42] abrudtkuhl commented on #91
Yea I don’t think the library supports that. Would love a pull request to add it! 😉

________________________________
From: komBAS <notifications@github.com>
Sent: Thursday, August 9, 2018 3:23 AM
To: abrudtkuhl/WordPressSharp
Cc: Subscribed
Subject: [abrudtkuhl/WordPressSharp] Is the usage of proxies supported? (#91)

Hi,

I am trying to switch my actual WordPress Client to WordPressSharp but i n

[2018-08-10 14:59] ghost commented on #91
Would love to do this, but I don't know xml-rpc.net nor WordPressSharp internals so far ;-)

Here is a related FAQ: http://xml-rpc.net/faq/xmlrpcnetfaq-2-5-0.html#2.18

[2018-08-10 15:58] GlennIM opened #92 "How to Find Out if Published Post Already Exists ?"
Before I publish a post I need to know if the post already exists. I know what the title of the post is but I need a way to search the blog for an existing post using the title I already know.

I tried calling the method GetPosts() as shown below but it throws an exception. What can I do to get a list of published posts so that I can search the list. If the list contains the post I need to get the

[2018-08-13 17:07] ghost opened #93 "WordPressSharp with ASP.Net Core 2.1"
Hi,

as I mentioned in another issue, I am evaluating WordPressSharp to use it in a new application of mine (used Joe Blogs in WinForms app for now). Now I am developing a web app with ASP.Net Core 2.1 MVC and I am struggeling.

The following code works fine in a WinForm app but not in my MVC app:

[code]

Exception is:

Do you have any idea?

Thanks,
Kay

[2018-08-14 18:40] abrudtkuhl commented on #93
The only thing I can spot is that you are using client2.NewPost but have
never declared client2... although you should be getting obj not set to
instance error

On Mon, Aug 13, 2018 at 12:07 PM komBAS <notifications@github.com> wrote:

[2018-08-14 19:11] ghost commented on #93
Oh my bad, sorry. I edited the source here. Of course it's "client" and not "client2".

I continued to try but there seems to be a general problem within an ASP.NET MVC app, even in the simplest form. The problem seems to be this one here:

MissingMethodException: Method not found: 'System.Reflection.Emit.AssemblyBuilder System.AppDomain.DefineDynamicAssembly(System.Reflection.AssemblyName, System

[2018-08-18 14:29] ghost commented on #93
I'll give it another try ;-)

Maybe you or someone else can confirm the following test:

1. Clone repository here
1. Create a new ASP.NET Core MVC App with .NET Core 2.1
1. Reference the two assemblies (WordPressSharp.dll and CookComputing.XmlRpcV2.dll) from 1.
1. Add the code below into the About method in HomeController (change blog Url and username and password)
1. Run the project and call the

[2018-08-18 17:52] abrudtkuhl commented on #93
I haven’t used .net core with the library so I cannot confirm that it works as expected

________________________________
From: komBAS <notifications@github.com>
Sent: Saturday, August 18, 2018 9:29 AM
To: abrudtkuhl/WordPressSharp
Cc: Andy Brudtkuhl; Comment
Subject: Re: [abrudtkuhl/WordPressSharp] WordPressSharp with ASP.Net Core 2.1 (#93)

I'll give it another try ;-)

Maybe you or someone else

[2018-08-24 21:59] erikdietrich opened #94 "Trying to get started: connection closed unexpectedly"
Hello.  I've installed the NuGet package and am trying to follow the example here, which seems pretty simple.  But, I'm getting an error right out of the gate implementing this in a console app, "System.Net.WebException: 'The underlying connection was closed: The connection was closed unexpectedly.'"

The call stack isn't super helpful and eventually tracks to HttpWebRequest.GetResponse().  So I g

[2018-08-29 16:48] GlennIM opened #95 "client.GetPost() Method Throwing Exception"
I have the plugin called "Featured Image from URL" installed and set to use the 1'st image in the post when and post is published and I am getting the following exception when calling the GetPost() function below. When I disable the "Featured Image from URL" no exception is thrown.

Post thepost = client.GetPost(Convert.ToInt32(postID));

Here is the exception...

{"response contains invalid dateT

[2018-09-22 18:26] karakaa opened #96 "NewPost not accept any date than DateTime.Now of post"
NewPost is throwing exceptions away if Publish Date is past or in future.
Is there any possibility to publish post with past date (couple of days before NOW)?

[2018-09-28 00:14] arbistepanian opened #97 "Editing and Deleting comments"
Is there a way to edit comment status or delete it?

[2018-10-04 11:02] manii-stack opened #98 "ACF repeater fields"
Please add function to support advance custom filed repeater field.

[2018-10-05 14:46] GlennIM opened #99 "Get Published Posts in Category ?"
I there a way to use this API to get all the published posts for a specific category?

[2018-10-28 14:09] Blackcat156 commented on #94
I encountered the same situation.
Please check your IE browser proxy settings and cancel all options about agents.

[2018-10-28 14:11] Blackcat156 commented on #96
var post = new Post
    {
        PublishDateTime = （The time you set up）
    };

[2018-10-28 14:16] Blackcat156 commented on #95
Set Featured  images
Post.FeaturedImageId =wordPressClient.UploadFile(Data.CreateFromUrl("ImgLink")).Id;

[2018-10-29 02:47] Blackcat156 commented on #92
You can write a spider and search it directly on Web pages.

[2018-10-29 06:23] Blackcat156 commented on #88
I have the same problem with you today. The solution is as follows:
    UploadResult img = client.UploadFile(WordPressSharp.Models.Data.CreateFromUrl(item, **"image/jpeg"**));
If no file type is set，The default file type is: application/octet-stream
It can't be set as a cover picture.
So set the parameter: image/jpeg
You can solve the problem.

[2018-10-29 12:02] Blackcat156 commented on #95
[Featured Images](https://github.com/abrudtkuhl/WordPressSharp/issues/88)

[2019-01-04 18:41] manii-stack opened #100 "Reduce request"
`post.FeaturedImageId = client.UploadFile(featureImage).Id;
var id =Convert.ToInt32(client.NewPost(post));`
When I want to sent a post to wordpress I should sent 2 request one for feature image an another for post contents. Could I use one request for both of them?

[2019-01-11 02:06] Blackcat156 commented on #80
Hello, I now understand the reason for this problem.
I grabbed the content sent to the server
The time parameters are as follows:
`   <member>
            <name>post_date</name>
            <value>
              <dateTime.iso8601>20170413T07:21:04</dateTime.iso8601>
            </value>
          </member>
          <member>
            <name>post_modified</name>
            <value>

[2019-01-11 02:19] Blackcat156 commented on #80
I know that the difference between UTC time and ISO8601 is the way of expression.
Simply put. Iso8601 is a UTC time representation
I don't know why time has to be reduced by eight hours, but I can only do that.

[2019-01-11 02:36] hiromi3 commented on #80
Hi,
Thank you for your reply to the time stamp problem.
Currently, I am not using WordPressSharp, because I am doing JavaScript programming mainly.
So, if I return to Csharp programming again, I want to test again by following your report.
I think that the WordPressSharp is a great tool, so I hope you continue to develop and improve it.

[2019-01-11 03:33] Blackcat156 commented on #100
Obviously not.

[2019-01-28 19:07] romidi opened #101 "Adding Category to Post exception"
I can get the category without any problem
Term t = client.GetTerm("category", 1);

But when i want to add a category to post I get this error

Doesn't matter even if i add new category.

var terms = new List<Term>();
 terms.Add(t);
  var post = new Post
                    {
                        PostType = "post",
                        Title = title,
                        Content = Descrip

[2019-01-28 20:00] romidi commented on #101
Issue is solved, I was using old version 1.0.0 not 1.1.0

[2019-01-28 20:00] #101 closed, assigned to nobody

[2019-02-13 20:34] catolseo commented on #68
Solved the problem with case-sensitive

[code]

[2019-03-08 12:07] greeshan commented on #68
How add several tags to post? (как добавить несколько тегов к посту?)

[2019-03-17 20:27] adeministr opened #102 "How to add termmeta?"
Hi,

i want to add term meta to termmeta datatable. How can i do that?

[2019-04-21 10:30] manii-stack opened #103 "Change XML-RPC Path"
I change XML-RPC path, how can WordPressSharp recognize it?

[2019-04-21 20:18] abrudtkuhl commented on #103
Why would you change the path? It’s using the nugget package

________________________________
From: mohammad983 <notifications@github.com>
Sent: Sunday, April 21, 2019 5:30 AM
To: abrudtkuhl/WordPressSharp
Cc: Subscribed
Subject: [abrudtkuhl/WordPressSharp] Change XML-RPC Path (#103)

I change XML-RPC path, how can WordPressSharp recognize it?

—
You are receiving this because you are subscribed

[2019-04-24 08:54] manii-stack commented on #103
for some reason, I have to change  XML-RPC path in Wordpress site
xml-rpc.php to my-xml-rpc.php
Is there any way that WordPressSharp recognizes the new address?

[2019-09-15 12:26] hainahoo opened #104 "How to set custom page template while publishing new post?"
I have a custom page template for the post. while I create new post via the API, the default template is assigned for the post. Then I need to go to my WordPress blog and edit the post to change the page template under the post attribute.

Is it possible to set the page template while creating a new post via the API itself?

[2020-03-24 23:34] GlennIM opened #105 "Getting CookComputing.XmlRpc.XmlRpcServerException 'Not Acceptable' exception"
I've been using WordPresSharp for some time now.

When this method is called I get this CookComputing.XmlRpc.XmlRpcServerException 'Not Acceptable' thrown.

[code]

CookComputing.XmlRpcV2 reference is **Runtime Version: v2.0.50727** and **Version: 3.0.0.0**. How can I fix this?

[2020-03-25 02:03] GlennIM commented on #105
Never mind. I tracked the problem to an old wordpress version: WordPress 4.8.12 and updated it to 5.3.2 and the problem disappeared. Weird.

Hope this helps others...

[2020-03-25 03:11] GlennIM commented on #105
I upgraded my blog to the latest version and the method client.GetTerms() worked once. Then I tried it again, and get the same exception message 'Not Acceptable'.

Oddly I have the same version of the code on another blog and it works all the time without getting that exception.

This exception has only surfaced on these 2 blogs in the last couple days and has been working fine. At a total loss wh

[2020-05-02 07:46] manii-stack opened #106 "How to active Comment section!"
Hi guys
When I send a post to WordPress via wordpresssharp, by default comment section is disabled. how can enable it by default?

[2020-12-04 09:29] skywolf627 opened #107 "How to publish articles with password"
How to publish articles with password

[2021-02-08 17:18] manii-stack commented on #106
anyone can help me?

[2021-02-08 17:50] abrudtkuhl commented on #106
Hi @mohammad983 - I think you want the comment status field set to "open".

'comment_status'
(string) Post comment enabled status. Accepts 'open' or 'closed'.

https://developer.wordpress.org/reference/classes/wp_xmlrpc_server/wp_newpost/

[2021-02-08 18:31] manii-stack commented on #106
it's exactly what I want. thanks.

[2021-02-08 18:31] #106 closed, assigned to nobody

[2021-08-02 04:26] GlennIM opened #108 "Internal Server Error Calling GetPosts()"
I'm getting an Internal Server Error exception when calling the method below. There are 827 published posts and set the number to that. If I remove the Number = 827 in the filter, it gets 15 posts as set in the Read setting of the blog.

var posts = client.GetPosts(new PostFilter { PostType = "post", PostStatus = "publish", Number = 827 }).OrderByDescending(a => a.Id).ToDictionary(x => x.Id);